section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: solid var(--terciary-color) 1px;
    border-radius: 10px;
    background-color: white;
}

section .product-top {
    display: flex;
    align-items: center;
    gap: 15px;
}

section .product-top .product-img {
    width: 120px;
}

section .product-top span {
    padding-bottom: 100px;
}

section .product-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section .product-bottom button .add-cart {
    filter: invert(20%) sepia(93%) saturate(7179%) hue-rotate(339deg) brightness(93%) contrast(116%);
}