header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

header a > img {
    width: 300px;
}

header .navigator {
    display: flex;
    gap: 70px;
}

header .navigator a {
    font-size: 20px;
    letter-spacing: 8px;
    transition: color 0.5s;
    color: var(--terciary-color);
}

header .navigator a:hover {
    color: var(--primary-color);
}

header .cart-box {
    margin-top: 24.5px;
}