main.products-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.products-main .main-view {
    grid-column: 2/5;
}

.products-main .main-view .top-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-main .main-view .top-details h1{
    text-align: center;
}

.products-main .main-view .top-details .order {
    margin-right: 30px;
    text-align: right;
}